ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    margin-top:-22px ;
    padding-left: 5%;
    
  }
  li {
    display: inline;
    float: left;
    padding-right: 2%;
    font-weight: bold;
  
  }
  li a {
    display: block;
    padding: 22px 18px;
    color: white;
    text-align: center;
    text-decoration: none;
    
  }
  li a:hover{
    color: black;
    background-color: wheat;
  }
  .active{
    background-color: olivedrab;
  }